<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="PGP Vault" Language="1033" Version="1.0" Manufacturer="Sergey Karpushin" UpgradeCode="2036E9EA-8A22-4B5B-AE6B-DDC41E3CE0F5">
		<Package Description="PGP Vault" Comments="Wix Installer" InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Name="PGP Vault" Id="PGP_VAULT">
					<Component Id="PGPVault" DiskId="1" Guid="c6d5d2ea-133c-4726-8286-3b390c8f593a">
						<File Id="PGPVAULT.EXE" Name="pgpvault.exe" Source=".\pgpvault.exe" KeyPath="yes">
							<Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="PGP Vault" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
						</File>
						<File Id="PGPVAULTGUI_0.2.0.0.JAR" Name="pgpvaultgui-0.2.0.0.jar" Source=".\pgpvaultgui-0.2.0.0.jar" />
						<RegistryValue Root="HKCR" Key="*\shell\Encrypt to PGP\command" Value="&quot;[PGP_VAULT]pgpvault.exe&quot; &quot;%1&quot;"
							Type="string" />
						<ProgId Id='PGPVault.PGPFile' Description='PGP Vault File'>
							<Extension Id='pgp' ContentType='application/xyz'>
								<Verb Id='open' Command='Open' TargetFile='PGPVAULT.EXE' Argument='"%1"' />
							</Extension>
							<Extension Id="asc" />
							<Extension Id="gpg" />
						</ProgId>
					</Component>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuDir" Name="PGP Vault">
					<Component Id="StartMenuShortcuts" Guid="D7904BB0-12B8-4117-AF3B-A432E840550B">
						<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
						<Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe"
							Arguments="/x [ProductCode]" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
		<Feature Id="DefaultFeature" Title="Main Feature" Level="1">
			<ComponentRef Id="PGPVault" />
			<ComponentRef Id="StartMenuShortcuts" />
		</Feature>
		<UI />
		<UIRef Id="WixUI_Minimal" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
		<Icon Id="StartMenuIcon.exe" SourceFile=".\pgpvault.exe" />\
	</Product>
</Wix>