<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="PGP Tool" Language="1033" Version="0.6.0.0" Manufacturer="Sergey Karpushin" UpgradeCode="2036E9EA-8A22-4B5B-AE6B-DDC41E3CE0F5">
        <Package Description="PGP Tool" Comments="Wix Installer" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Name="PGP Tool" Id="PGP_TOOL">
                    <Component Id="PGPTool" DiskId="1" Guid="c6d5d2ea-133c-4726-8286-3b390c8f593a">
                        <File Id="PGPTOOL.EXE" Name="pgptool.exe" Source=".\pgptool.exe" KeyPath="yes">
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="PGP Tool" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        </File>
                        <File Id="PGPTOOLGUI_0.6.0.0.JAR" Name="pgptoolgui-0.6.0.0.jar" Source=".\pgptoolgui-0.6.0.0.jar" />
                        <RegistryValue Root="HKCR" Key="*\shell\Encrypt to PGP\command" Value="&quot;[PGP_TOOL]pgptool.exe&quot; &quot;%1&quot;" Type="string" />
                        <ProgId Id="PGPTool.PGPFile" Description="PGP Tool File">
                            <Extension Id="pgp" ContentType="application/xyz">
                                <Verb Id="open" Command="Open" TargetFile="PGPTOOL.EXE" Argument="&quot;%1&quot;" />
                            </Extension>
                            <Extension Id="asc" />
                            <Extension Id="gpg" />
                        </ProgId>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="PGP Tool">
                    <Component Id="StartMenuShortcuts" Guid="D7904BB0-12B8-4117-AF3B-A432E840550B">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="PGPTool" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />
        <Icon Id="StartMenuIcon.exe" SourceFile=".\pgptool.exe" />
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
        <Upgrade Id="2036E9EA-8A22-4B5B-AE6B-DDC41E3CE0F5">
            <UpgradeVersion Minimum="0.0.0.0" Maximum="99.0.0.0" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
        </InstallExecuteSequence>
    </Product>
</Wix>